* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full Page */
html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
nav {
    background-color: black;
    color: white;
    padding: 25px;
}

h1,
ul,
li {
    display: inline;
}

ul {
    float: right;
}

li {
    list-style: none;
    margin-left: 20px;
    color: gray;
    cursor: pointer;
}

li:hover {
    color: white;
}

/* Search Section */
.search {
    text-align: center;
    padding: 30px;
}

input {
    width: 60%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid gray;
}

/* Image Gallery */
.image {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.image img {
    width: 120px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.image img:hover {
    width: 300px;
}

.about{
    margin: 20px;
}
/* Footer */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto ; /* Pushes footer to the bottom */
}